In [172]:
import pandas as pd
import numpy as np

In [173]:
df = pd.read_csv('new_modudak.csv')

In [174]:
df.to_csv('new_modudak.csv', index = False)

In [175]:
df

  Unnamed: 0        메뉴     가격   호수     칼로리  할인율      할인가  원산지
0          0    황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
1          1    모두양념치킨  13000  10호  1400.0  0.2  10400.0  NaN
2          2      간장치킨  14000   9호  1600.0  0.2  11200.0  NaN
3          3      마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN
4          4        파닭  14000  11호  1300.0  0.2  11200.0  브라질
5          5       닭강정  15000  12호  1500.0  0.2  12000.0  브라질
6          6  양념반후라이드반  13000  10호  1300.0  0.2  10400.0  NaN
7        new     아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
8         10      풀잎치킨   9900  10호     NaN  NaN      NaN  국내산

In [176]:
df = df.replace('아이펠치킨','[인기]아이펠치킨').replace('풀잎치킨','[베스트]풀잎치킨')
df

  Unnamed: 0         메뉴     가격   호수     칼로리  할인율      할인가  원산지
0          0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
1          1     모두양념치킨  13000  10호  1400.0  0.2  10400.0  NaN
2          2       간장치킨  14000   9호  1600.0  0.2  11200.0  NaN
3          3       마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN
4          4         파닭  14000  11호  1300.0  0.2  11200.0  브라질
5          5        닭강정  15000  12호  1500.0  0.2  12000.0  브라질
6          6   양념반후라이드반  13000  10호  1300.0  0.2  10400.0  NaN
7        new  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
8         10  [베스트]풀잎치킨   9900  10호     NaN  NaN      NaN  국내산

In [177]:
# 인덱스 열 지정하기 (index_col)
pd.read_csv('new_modudak.csv', index_col='Unnamed: 0')

                  메뉴     가격   호수     칼로리  할인율      할인가  원산지
Unnamed: 0
0             황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
1             모두양념치킨  13000  10호  1400.0  0.2  10400.0  NaN
2               간장치킨  14000   9호  1600.0  0.2  11200.0  NaN
3               마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN
4                 파닭  14000  11호  1300.0  0.2  11200.0  브라질
5                닭강정  15000  12호  1500.0  0.2  12000.0  브라질
6           양념반후라이드반  13000  10호  1300.0  0.2  10400.0  NaN
new            아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
10              풀잎치킨   9900  10호     NaN  NaN      NaN  국내산

In [178]:
# 데이터프레임 복사 : A = df.copy()
data = df.copy()

In [179]:
# 데이터삭제. colunm 삭제 (컬럼 : 'Unnamed: 0') drop(axis=1)
# axis=1 : 열방향 / axis=0 : 행방향
data = data.drop('Unnamed: 0', axis=1) # 저장 필수!

# data.drop(columns=['Unnamed: 0']) 이 명령어도 열 삭제
data

          메뉴     가격   호수     칼로리  할인율      할인가  원산지
0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
1     모두양념치킨  13000  10호  1400.0  0.2  10400.0  NaN
2       간장치킨  14000   9호  1600.0  0.2  11200.0  NaN
3       마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN
4         파닭  14000  11호  1300.0  0.2  11200.0  브라질
5        닭강정  15000  12호  1500.0  0.2  12000.0  브라질
6   양념반후라이드반  13000  10호  1300.0  0.2  10400.0  NaN
7  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
8  [베스트]풀잎치킨   9900  10호     NaN  NaN      NaN  국내산

In [180]:
df = data.copy()
df

          메뉴     가격   호수     칼로리  할인율      할인가  원산지
0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
1     모두양념치킨  13000  10호  1400.0  0.2  10400.0  NaN
2       간장치킨  14000   9호  1600.0  0.2  11200.0  NaN
3       마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN
4         파닭  14000  11호  1300.0  0.2  11200.0  브라질
5        닭강정  15000  12호  1500.0  0.2  12000.0  브라질
6   양념반후라이드반  13000  10호  1300.0  0.2  10400.0  NaN
7  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
8  [베스트]풀잎치킨   9900  10호     NaN  NaN      NaN  국내산

In [181]:
# 행 삭제 (파닭)
data = data.drop(4,axis=0) # 4: 인덱스 명
data

          메뉴     가격   호수     칼로리  할인율      할인가  원산지
0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
1     모두양념치킨  13000  10호  1400.0  0.2  10400.0  NaN
2       간장치킨  14000   9호  1600.0  0.2  11200.0  NaN
3       마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN
5        닭강정  15000  12호  1500.0  0.2  12000.0  브라질
6   양념반후라이드반  13000  10호  1300.0  0.2  10400.0  NaN
7  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
8  [베스트]풀잎치킨   9900  10호     NaN  NaN      NaN  국내산

In [182]:
# 행 삭제 (양념반후라이드반) inplace=True : 대입없이 바로 삭제하기 위함
data.drop(6,axis=0, inplace=True)
data

          메뉴     가격   호수     칼로리  할인율      할인가  원산지
0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
1     모두양념치킨  13000  10호  1400.0  0.2  10400.0  NaN
2       간장치킨  14000   9호  1600.0  0.2  11200.0  NaN
3       마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN
5        닭강정  15000  12호  1500.0  0.2  12000.0  브라질
7  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
8  [베스트]풀잎치킨   9900  10호     NaN  NaN      NaN  국내산

In [183]:
# 행 삭제 (조건)
cond = data['가격'] >= 14000
data[cond] # 1. 조건에 맞는 데이터 출력
data[cond].index # 2. 조건에 맞는 인덱스 명 확인

Int64Index([2, 3, 5, 7], dtype='int64')

In [184]:
# 행 삭제 (위에 조건에 해당 하는 인덱스 명)
data.drop(data[cond].index, axis=0,inplace=True)
data

          메뉴     가격   호수     칼로리  할인율      할인가  원산지
0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
1     모두양념치킨  13000  10호  1400.0  0.2  10400.0  NaN
8  [베스트]풀잎치킨   9900  10호     NaN  NaN      NaN  국내산

In [185]:
# 결측치 처리
# 결측치 삭제
data = df.copy()
data

          메뉴     가격   호수     칼로리  할인율      할인가  원산지
0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
1     모두양념치킨  13000  10호  1400.0  0.2  10400.0  NaN
2       간장치킨  14000   9호  1600.0  0.2  11200.0  NaN
3       마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN
4         파닭  14000  11호  1300.0  0.2  11200.0  브라질
5        닭강정  15000  12호  1500.0  0.2  12000.0  브라질
6   양념반후라이드반  13000  10호  1300.0  0.2  10400.0  NaN
7  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
8  [베스트]풀잎치킨   9900  10호     NaN  NaN      NaN  국내산

In [186]:
# 결측치가 있는 행 모두 삭제
data.dropna()

          메뉴     가격   호수     칼로리  할인율      할인가  원산지
0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
4         파닭  14000  11호  1300.0  0.2  11200.0  브라질
5        닭강정  15000  12호  1500.0  0.2  12000.0  브라질
7  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산

In [187]:
# 결측치가 있는 열 모두 삭제 (칼로리~원산지까지 결측치 있는 것!)
data.dropna(axis=1)

          메뉴     가격   호수
0     황금후라이드  12000  10호
1     모두양념치킨  13000  10호
2       간장치킨  14000   9호
3       마늘치킨  14000   9호
4         파닭  14000  11호
5        닭강정  15000  12호
6   양념반후라이드반  13000  10호
7  [인기]아이펠치킨  16000  11호
8  [베스트]풀잎치킨   9900  10호

In [188]:
# 컬럼 별 결측치 확인(.sum 함수를 사용해서 수치화 False=0, True=1)
df.isnull().sum()

메뉴     0
가격     0
호수     0
칼로리    1
할인율    1
할인가    1
원산지    4
dtype: int64

In [189]:
# 결측값 채우기
# 원산지 > '알 수 없음'으로 채우기
df['원산지'].fillna('알 수 없음')

0       국내산
1    알 수 없음
2    알 수 없음
3    알 수 없음
4       브라질
5       브라질
6    알 수 없음
7       국내산
8       국내산
Name: 원산지, dtype: object

In [190]:
# 원산지 최빈값으로 채우기
df['원산지'].fillna('국내산')

0    국내산
1    국내산
2    국내산
3    국내산
4    브라질
5    브라질
6    국내산
7    국내산
8    국내산
Name: 원산지, dtype: object

In [191]:
# 원산지 채우기 실행
#위 처럼 Series 값으로 저장하지 않으려면 꼭 df['원산지']에 저장 필요하다
df['원산지'] = df['원산지'].fillna('국내산')
df

          메뉴     가격   호수     칼로리  할인율      할인가  원산지
0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
1     모두양념치킨  13000  10호  1400.0  0.2  10400.0  국내산
2       간장치킨  14000   9호  1600.0  0.2  11200.0  국내산
3       마늘치킨  14000   9호  1800.0  0.2  11200.0  국내산
4         파닭  14000  11호  1300.0  0.2  11200.0  브라질
5        닭강정  15000  12호  1500.0  0.2  12000.0  브라질
6   양념반후라이드반  13000  10호  1300.0  0.2  10400.0  국내산
7  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
8  [베스트]풀잎치킨   9900  10호     NaN  NaN      NaN  국내산

In [192]:
# 칼로리 결측치 900으로 채우기
df['칼로리'].fillna(900)

0    1000.0
1    1400.0
2    1600.0
3    1800.0
4    1300.0
5    1500.0
6    1300.0
7    1200.0
8     900.0
Name: 칼로리, dtype: float64

In [193]:
# '칼로리' 컬럼 결측치는 최소값 결측치 채움
df['칼로리'].fillna(df['칼로리'].min())

0    1000.0
1    1400.0
2    1600.0
3    1800.0
4    1300.0
5    1500.0
6    1300.0
7    1200.0
8    1000.0
Name: 칼로리, dtype: float64

In [194]:
# 결측치 채우기 실행
df['칼로리'] = df['칼로리'].fillna(df['칼로리'].min())
df

          메뉴     가격   호수     칼로리  할인율      할인가  원산지
0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
1     모두양념치킨  13000  10호  1400.0  0.2  10400.0  국내산
2       간장치킨  14000   9호  1600.0  0.2  11200.0  국내산
3       마늘치킨  14000   9호  1800.0  0.2  11200.0  국내산
4         파닭  14000  11호  1300.0  0.2  11200.0  브라질
5        닭강정  15000  12호  1500.0  0.2  12000.0  브라질
6   양념반후라이드반  13000  10호  1300.0  0.2  10400.0  국내산
7  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
8  [베스트]풀잎치킨   9900  10호  1000.0  NaN      NaN  국내산

In [195]:
# 정렬(sort), 인덱스 기준 (기본값 ascending=True : 오름차순)
df.sort_index(ascending=False)

          메뉴     가격   호수     칼로리  할인율      할인가  원산지
8  [베스트]풀잎치킨   9900  10호  1000.0  NaN      NaN  국내산
7  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
6   양념반후라이드반  13000  10호  1300.0  0.2  10400.0  국내산
5        닭강정  15000  12호  1500.0  0.2  12000.0  브라질
4         파닭  14000  11호  1300.0  0.2  11200.0  브라질
3       마늘치킨  14000   9호  1800.0  0.2  11200.0  국내산
2       간장치킨  14000   9호  1600.0  0.2  11200.0  국내산
1     모두양념치킨  13000  10호  1400.0  0.2  10400.0  국내산
0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산

In [196]:
# 값 기준 (기본값 오름차순)
# 메뉴 기준 정렬 (열)
df.sort_values('가격', ascending=False) # 내림차순

          메뉴     가격   호수     칼로리  할인율      할인가  원산지
7  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
5        닭강정  15000  12호  1500.0  0.2  12000.0  브라질
2       간장치킨  14000   9호  1600.0  0.2  11200.0  국내산
3       마늘치킨  14000   9호  1800.0  0.2  11200.0  국내산
4         파닭  14000  11호  1300.0  0.2  11200.0  브라질
1     모두양념치킨  13000  10호  1400.0  0.2  10400.0  국내산
6   양념반후라이드반  13000  10호  1300.0  0.2  10400.0  국내산
0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
8  [베스트]풀잎치킨   9900  10호  1000.0  NaN      NaN  국내산

In [197]:
# 가격과 메뉴 기준 정렬
df = df.sort_values(['가격','원산지'], ascending=[False, True])
df

          메뉴     가격   호수     칼로리  할인율      할인가  원산지
7  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
5        닭강정  15000  12호  1500.0  0.2  12000.0  브라질
2       간장치킨  14000   9호  1600.0  0.2  11200.0  국내산
3       마늘치킨  14000   9호  1800.0  0.2  11200.0  국내산
4         파닭  14000  11호  1300.0  0.2  11200.0  브라질
1     모두양념치킨  13000  10호  1400.0  0.2  10400.0  국내산
6   양념반후라이드반  13000  10호  1300.0  0.2  10400.0  국내산
0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
8  [베스트]풀잎치킨   9900  10호  1000.0  NaN      NaN  국내산

In [198]:
# 인덱스 새로 맏늘기 drop=True
df = df.reset_index(drop=True) # 인덱스 새로 만들고 기존에 있던 것 drop
df

          메뉴     가격   호수     칼로리  할인율      할인가  원산지
0  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
1        닭강정  15000  12호  1500.0  0.2  12000.0  브라질
2       간장치킨  14000   9호  1600.0  0.2  11200.0  국내산
3       마늘치킨  14000   9호  1800.0  0.2  11200.0  국내산
4         파닭  14000  11호  1300.0  0.2  11200.0  브라질
5     모두양념치킨  13000  10호  1400.0  0.2  10400.0  국내산
6   양념반후라이드반  13000  10호  1300.0  0.2  10400.0  국내산
7     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
8  [베스트]풀잎치킨   9900  10호  1000.0  NaN      NaN  국내산

In [199]:
# 자료형 변환
# type확인
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   메뉴      9 non-null      object
 1   가격      9 non-null      int64
 2   호수      9 non-null      object
 3   칼로리     9 non-null      float64
 4   할인율     8 non-null      float64
 5   할인가     8 non-null      float64
 6   원산지     9 non-null      object
dtypes: float64(3), int64(1), object(3)
memory usage: 632.0+ bytes

In [200]:
# '호수' 인트형 자료로 변형
# 호 단어 삭제(str, replace 활용)
df['호수'] = df['호수'].str.replace('호','')
df

          메뉴     가격  호수     칼로리  할인율      할인가  원산지
0  [인기]아이펠치킨  16000  11  1200.0  0.5   8000.0  국내산
1        닭강정  15000  12  1500.0  0.2  12000.0  브라질
2       간장치킨  14000   9  1600.0  0.2  11200.0  국내산
3       마늘치킨  14000   9  1800.0  0.2  11200.0  국내산
4         파닭  14000  11  1300.0  0.2  11200.0  브라질
5     모두양념치킨  13000  10  1400.0  0.2  10400.0  국내산
6   양념반후라이드반  13000  10  1300.0  0.2  10400.0  국내산
7     황금후라이드  12000  10  1000.0  0.2   9600.0  국내산
8  [베스트]풀잎치킨   9900  10  1000.0  NaN      NaN  국내산

In [201]:
# 자료형 변환 / astype / object > int
df['호수'] = df['호수'].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   메뉴      9 non-null      object
 1   가격      9 non-null      int64
 2   호수      9 non-null      int64
 3   칼로리     9 non-null      float64
 4   할인율     8 non-null      float64
 5   할인가     8 non-null      float64
 6   원산지     9 non-null      object
dtypes: float64(3), int64(2), object(2)
memory usage: 632.0+ bytes

In [202]:
# 호수 평균 (int형은 산술이 가능)
df['호수'].mean()

10.222222222222221

In [203]:
# pandas 안에 내장함수로 데이터 탐색하기
# 데이터 프레임 크기 (행, 컬럼)
df.shape

(9, 7)

In [204]:
# 데이터 샘플 확인 (head)
df.head()

          메뉴     가격  호수     칼로리  할인율      할인가  원산지
0  [인기]아이펠치킨  16000  11  1200.0  0.5   8000.0  국내산
1        닭강정  15000  12  1500.0  0.2  12000.0  브라질
2       간장치킨  14000   9  1600.0  0.2  11200.0  국내산
3       마늘치킨  14000   9  1800.0  0.2  11200.0  국내산
4         파닭  14000  11  1300.0  0.2  11200.0  브라질

In [208]:
# 컬럼 형태 (type)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   메뉴      9 non-null      object
 1   가격      9 non-null      int64
 2   호수      9 non-null      int64
 3   칼로리     9 non-null      float64
 4   할인율     8 non-null      float64
 5   할인가     8 non-null      float64
 6   원산지     9 non-null      object
dtypes: float64(3), int64(2), object(2)
memory usage: 632.0+ bytes

In [209]:
# 컬럼 별로 기초 통계 확인 , int형 숫자 관련만
df.describe()

                 가격         호수          칼로리       할인율           할인가
count      9.000000   9.000000     9.000000  8.000000      8.000000
mean   13433.333333  10.222222  1344.444444  0.237500  10500.000000
std     1764.936259   0.971825   265.099562  0.106066   1242.118007
min     9900.000000   9.000000  1000.000000  0.200000   8000.000000
25%    13000.000000  10.000000  1200.000000  0.200000  10200.000000
50%    14000.000000  10.000000  1300.000000  0.200000  10800.000000
75%    14000.000000  11.000000  1500.000000  0.200000  11200.000000
max    16000.000000  12.000000  1800.000000  0.500000  12000.000000

In [212]:
# 기초 통계 (object) include 안에 알파밧 대문자 'O'
df.describe(include='O')

               메뉴  원산지
count           9    9
unique          9    2
top     [인기]아이펠치킨  국내산
freq            1    7

In [214]:
# 상관 관계, int,float 형들 확인
df.corr()

           가격        호수       칼로리       할인율       할인가
가격   1.000000  0.374104  0.522744  0.688875 -0.138409
호수   0.374104  1.000000 -0.285724  0.292770 -0.022222
칼로리  0.522744 -0.285724  1.000000 -0.306122  0.636659
할인율  0.688875  0.292770 -0.306122  1.000000 -0.813250
할인가 -0.138409 -0.022222  0.636659 -0.813250  1.000000

In [215]:
# 항목 별 종류 수
df.nunique()

메뉴     9
가격     6
호수     4
칼로리    7
할인율    2
할인가    5
원산지    2
dtype: int64

In [216]:
# 항목 별 종류
df['호수'].unique()

array([11, 12,  9, 10])

In [217]:
# 항목 별 개수 많이씀!
df['호수'].value_counts()

10    4
11    2
9     2
12    1
Name: 호수, dtype: int64

In [218]:
# 기타 내장 함수
# 카운트(컬럼) #기본값 axis=0 : 열
# 결측치 있는건 체크가 안된다
df.count()

메뉴     9
가격     9
호수     9
칼로리    9
할인율    8
할인가    8
원산지    9
dtype: int64

In [219]:
# 카운트 (행)
df.count(axis=1)

0    7
1    7
2    7
3    7
4    7
5    7
6    7
7    7
8    5
dtype: int64

In [222]:
# Tip. 데이터 수 len, shpae
len(df) # 행의 개수
df.shape # 행/열 출력
df.shape[0] # 행의 수만 출력

9

In [223]:
# 최대값 구하기
df['가격'].max()

16000

In [224]:
# 최소값 구하기
df['가격'].min()

9900

In [225]:
# 평균값
df['가격'].mean()

13433.333333333334

In [226]:
# 중앙값 구하기
df['가격'].median()

14000.0

In [227]:
# 합계
df['가격'].sum()

120900

In [228]:
# 표준편차
df['가격'].std()

1764.936259472279

In [229]:
# 분산
df['가격'].var()

3115000.0

In [230]:
# 백분위수 구하기
df['가격'].describe()

count        9.000000
mean     13433.333333
std       1764.936259
min       9900.000000
25%      13000.000000
50%      14000.000000
75%      14000.000000
max      16000.000000
Name: 가격, dtype: float64

In [231]:
# 하위 25% 값
df['가격'].quantile(.25)

13000.0

In [232]:
# 상위 25%
df['가격'].quantile(.75)

14000.0

In [233]:
# 하위 25% 작은 데이터
cond = df['가격'].quantile(.25) > df['가격']
df[cond]

          메뉴     가격  호수     칼로리  할인율     할인가  원산지
7     황금후라이드  12000  10  1000.0  0.2  9600.0  국내산
8  [베스트]풀잎치킨   9900  10  1000.0  NaN     NaN  국내산

In [234]:
# 상위 75% 큰 데이터
cond = df['가격'].quantile(.75) < df['가격']
df[cond]

          메뉴     가격  호수     칼로리  할인율      할인가  원산지
0  [인기]아이펠치킨  16000  11  1200.0  0.5   8000.0  국내산
1        닭강정  15000  12  1500.0  0.2  12000.0  브라질

In [236]:
# 최빈값 구하기
df['원산지'].mode()[0]

'국내산'

In [237]:
# 행과 열 바꾸기 (transpose)
df.T

,0,1,2,3,4,5,6,7,8
메뉴,[인기]아이펠치킨,닭강정,간장치킨,마늘치킨,파닭,모두양념치킨,양념반후라이드반,황금후라이드,[베스트]풀잎치킨
가격,16000,15000,14000,14000,14000,13000,13000,12000,9900
호수,11,12,9,9,11,10,10,10,10
칼로리,1200.0,1500.0,1600.0,1800.0,1300.0,1400.0,1300.0,1000.0,1000.0
할인율,0.5,0.2,0.2,0.2,0.2,0.2,0.2,0.2,NaN
할인가,8000.0,12000.0,11200.0,11200.0,11200.0,10400.0,10400.0,9600.0,NaN
원산지,국내산,브라질,국내산,국내산,브라질,국내산,국내산,국내산,국내산

In [238]:
# 그룹핑
# 원산지 기준, 평균
df.groupby('원산지').mean()

               가격         호수          칼로리   할인율           할인가
원산지
국내산  13128.571429   9.857143  1328.571429  0.25  10133.333333
브라질  14500.000000  11.500000  1400.000000  0.20  11600.000000

In [239]:
# 원산지와 할인율 기준, 평균
df.groupby(['원산지','할인율']).mean()

              가격    호수     칼로리      할인가
원산지 할인율
국내산 0.2  13200.0   9.6  1420.0  10560.0
    0.5  16000.0  11.0  1200.0   8000.0
브라질 0.2  14500.0  11.5  1400.0  11600.0

In [240]:
# 원산지와 할인율 기준, 가격 평균 > 시리즈 형태
df.groupby(['원산지','할인율'])['가격'].mean()

원산지  할인율
국내산  0.2    13200.0
     0.5    16000.0
브라질  0.2    14500.0
Name: 가격, dtype: float64

In [242]:
# 원산지와 할인율 기준, 가격 평균 > DataFrame 형태
# 1.방법 : pd.DataFrame(df.groupby(['원산지','할인율'])['가격'].mean())
# 2. 방법 : 결과 값 ['가격']에 한번 더 괄호를 씌어준다
df.groupby(['원산지','할인율'])[['가격']].mean()

              가격
원산지 할인율
국내산 0.2  13200.0
    0.5  16000.0
브라질 0.2  14500.0

In [245]:
# 원산지와 할인율 기준 최대 값
df.groupby(['원산지','할인율']).max()

                메뉴     가격  호수     칼로리      할인가
원산지 할인율
국내산 0.2     황금후라이드  14000  10  1800.0  11200.0
    0.5  [인기]아이펠치킨  16000  11  1200.0   8000.0
브라질 0.2         파닭  15000  12  1500.0  12000.0

In [246]:
# 1개 인덱스 형태로 리셋
df.groupby(['원산지','할인율']).max().reset_index()

   원산지  할인율         메뉴     가격  호수     칼로리      할인가
0  국내산  0.2     황금후라이드  14000  10  1800.0  11200.0
1  국내산  0.5  [인기]아이펠치킨  16000  11  1200.0   8000.0
2  브라질  0.2         파닭  15000  12  1500.0  12000.0

In [248]:
# apply 함수 예시 (칼로리가 1300 보다 큰 값과 작은 값)
def cal(x):
    if x >= 1300:
        return "yes"
    else:
        return "no"

df['칼로리'].apply(cal)

0     no
1    yes
2    yes
3    yes
4    yes
5    yes
6    yes
7     no
8     no
Name: 칼로리, dtype: object

In [250]:
# apply 적용해서 새로운 컬럼 생성 (칼로리 칼럼 활용)
df['살찔까요'] = df['칼로리'].apply(cal)
df

          메뉴     가격  호수     칼로리  할인율      할인가  원산지 살찔까요
0  [인기]아이펠치킨  16000  11  1200.0  0.5   8000.0  국내산   no
1        닭강정  15000  12  1500.0  0.2  12000.0  브라질  yes
2       간장치킨  14000   9  1600.0  0.2  11200.0  국내산  yes
3       마늘치킨  14000   9  1800.0  0.2  11200.0  국내산  yes
4         파닭  14000  11  1300.0  0.2  11200.0  브라질  yes
5     모두양념치킨  13000  10  1400.0  0.2  10400.0  국내산  yes
6   양념반후라이드반  13000  10  1300.0  0.2  10400.0  국내산  yes
7     황금후라이드  12000  10  1000.0  0.2   9600.0  국내산   no
8  [베스트]풀잎치킨   9900  10  1000.0  NaN      NaN  국내산   no

In [251]:
# lambda, apply 활용 : 새로운 컬럼 추가하는 다른 방법
df['고민'] = df['칼로리'].apply(lambda x: '먹지말자' if x >= 1300 else '먹자')
df

          메뉴     가격  호수     칼로리  할인율      할인가  원산지 살찔까요    고민
0  [인기]아이펠치킨  16000  11  1200.0  0.5   8000.0  국내산   no    먹자
1        닭강정  15000  12  1500.0  0.2  12000.0  브라질  yes  먹지말자
2       간장치킨  14000   9  1600.0  0.2  11200.0  국내산  yes  먹지말자
3       마늘치킨  14000   9  1800.0  0.2  11200.0  국내산  yes  먹지말자
4         파닭  14000  11  1300.0  0.2  11200.0  브라질  yes  먹지말자
5     모두양념치킨  13000  10  1400.0  0.2  10400.0  국내산  yes  먹지말자
6   양념반후라이드반  13000  10  1300.0  0.2  10400.0  국내산  yes  먹지말자
7     황금후라이드  12000  10  1000.0  0.2   9600.0  국내산   no    먹자
8  [베스트]풀잎치킨   9900  10  1000.0  NaN      NaN  국내산   no    먹자

In [252]:
# df 저장 (final_modudak.csv)
df.to_csv('final_modudak.csv', index=False) # 인덱스는 저장 안해도 됨

In [253]:
# 잘 저장 되었는지 불러오자
pd.read_csv('final_modudak.csv')

          메뉴     가격  호수     칼로리  할인율      할인가  원산지 살찔까요    고민
0  [인기]아이펠치킨  16000  11  1200.0  0.5   8000.0  국내산   no    먹자
1        닭강정  15000  12  1500.0  0.2  12000.0  브라질  yes  먹지말자
2       간장치킨  14000   9  1600.0  0.2  11200.0  국내산  yes  먹지말자
3       마늘치킨  14000   9  1800.0  0.2  11200.0  국내산  yes  먹지말자
4         파닭  14000  11  1300.0  0.2  11200.0  브라질  yes  먹지말자
5     모두양념치킨  13000  10  1400.0  0.2  10400.0  국내산  yes  먹지말자
6   양념반후라이드반  13000  10  1300.0  0.2  10400.0  국내산  yes  먹지말자
7     황금후라이드  12000  10  1000.0  0.2   9600.0  국내산   no    먹자
8  [베스트]풀잎치킨   9900  10  1000.0  NaN      NaN  국내산   no    먹자

In [257]:
df['메뉴'] = df['메뉴'].apply(lambda x : x +'❤️')

In [258]:
df

            메뉴     가격  호수     칼로리  할인율      할인가  원산지 살찔까요    고민
0  [인기]아이펠치킨❤️  16000  11  1200.0  0.5   8000.0  국내산   no    먹자
1        닭강정❤️  15000  12  1500.0  0.2  12000.0  브라질  yes  먹지말자
2       간장치킨❤️  14000   9  1600.0  0.2  11200.0  국내산  yes  먹지말자
3       마늘치킨❤️  14000   9  1800.0  0.2  11200.0  국내산  yes  먹지말자
4         파닭❤️  14000  11  1300.0  0.2  11200.0  브라질  yes  먹지말자
5     모두양념치킨❤️  13000  10  1400.0  0.2  10400.0  국내산  yes  먹지말자
6   양념반후라이드반❤️  13000  10  1300.0  0.2  10400.0  국내산  yes  먹지말자
7     황금후라이드❤️  12000  10  1000.0  0.2   9600.0  국내산   no    먹자
8  [베스트]풀잎치킨❤️   9900  10  1000.0  NaN      NaN  국내산   no    먹자

In [259]:
df.to_csv('final_modudak.csv', index=False)

In [260]:
pd.read_csv('final_modudak.csv')

            메뉴     가격  호수     칼로리  할인율      할인가  원산지 살찔까요    고민
0  [인기]아이펠치킨❤️  16000  11  1200.0  0.5   8000.0  국내산   no    먹자
1        닭강정❤️  15000  12  1500.0  0.2  12000.0  브라질  yes  먹지말자
2       간장치킨❤️  14000   9  1600.0  0.2  11200.0  국내산  yes  먹지말자
3       마늘치킨❤️  14000   9  1800.0  0.2  11200.0  국내산  yes  먹지말자
4         파닭❤️  14000  11  1300.0  0.2  11200.0  브라질  yes  먹지말자
5     모두양념치킨❤️  13000  10  1400.0  0.2  10400.0  국내산  yes  먹지말자
6   양념반후라이드반❤️  13000  10  1300.0  0.2  10400.0  국내산  yes  먹지말자
7     황금후라이드❤️  12000  10  1000.0  0.2   9600.0  국내산   no    먹자
8  [베스트]풀잎치킨❤️   9900  10  1000.0  NaN      NaN  국내산   no    먹자